.no-details {
    background-color: #A6E8FC;
}

.no-details-txt {
    color: #A6E8FC;
}

.detail-items {
    padding: 0;
    margin: 5px 0 5px 10px;
    list-style: none;
}

.detail-items li {
    padding-left: 5px;
    border-left: 2px solid #a8a8a8;
    margin-bottom: 2px;
}